<%- include('includes/header') %>

    <div class="flex">

        <span>Something went wrong, please try again</span>
        <span> <%= error %> </span>

    </div>

<%- include('includes/footer') %>