<%- include('includes/header') %>

    <div class="flex">

        <span>Something went wrong, please try again</span>
        <span> <%= error %> </span>

    </div>

    <div class="page-redirect">

        <h1><a href="/"> Return to the homepage</a></h1>

    </div>

<%- include('includes/footer') %>