<%- include('includes/header') %>

    <div class="page-title">
        <h1>Welcome my friend!</h1>
        <h1>Please add your certificate</h1>
    </div>

    <div class="flex-vertical">

        <div class="form-container">

            <form action="add" method="POST">

                <div class="couple-elements">
                    <label for="topic" class="labels">Topic</label>
                    <select id="topic" name="topic" class="form-control select-elements">
                        <option value=""></option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Video Editting">Video Editting</option>
                        <option value="Web Design">Web Design</option>
                    </select>
                </div>
    
                <div class="couple-elements">
                    <label for="source" class="labels">Source</label>
                    <select id="source" name="source" class="form-control select-elements">
                        <option value=""></option>
                        <option value="Udemy">Udemy</option>
                        <option value="Coursera">Coursera</option>
                        <option value="LinkedIn">LinkedIn</option>
                    </select>
                </div>

                <div class="couple-elements">
                    <label for="name" class="labels">Name</label>
                    <input type="text" name="name" class="form-control select-elements" id="name" aria-describedby="name" placeholder="Enter name">
                </div>

                <div class="couple-elements">
                    <label for="source" class="labels">Image URL</label>
                    <input type="text" name="image_url" class="form-control select-elements" id="image_url" aria-describedby="image_url" placeholder="Enter image source url">
                </div>
    
                <button type="submit" class="btn btn-primary btn-custom">Submit</button>

            </form>

        </div>
        
    </div>

    <div class="page-redirect">

        <h1><a href="/"> Return to the homepage</a></h1>

    </div>

<%- include('includes/footer') %>