<%- include('includes/header') %>


<div class="page-title">

    <h1>Kindly choose between the below two options</h1>

</div>


<div class="flex-horizontal">

    <div class="card" style="width: 18rem;">
        <a href="/add-certificates"><img class="card-img-top" src="/assets/add_document.jpg" alt="Card image cap" style="height:15rem;"></a>
        <div class="card-body">
            <span class="card-text">Insert a new certificate to your list.</span>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <a href="/filter-certificates"><img class="card-img-top" src="/assets/view_document.jpg" alt="Card image cap" style="height:15rem;"></a>
        <div class="card-body">
            <span class="card-text">View available certificates.</span>
        </div>
    </div>

</div>



<%- include('includes/footer') %>