html {
  width: 100vw;
  height: 100vh;
}

body {
  color: #555555;
  width: 100vw;
  height: 100vh;
}

.page-title {
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0064cf;
}

.flex-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
}

.flex-vertical .form-container {
  padding: 20px;
  width: 75%;
  border: solid 1px #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  color: #0064cf;
}

.flex-vertical .form-container .couple-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.flex-vertical .form-container .couple-elements .labels {
  width: 30%;
  margin: 10px;
  font-weight: 600;
}

.flex-vertical .form-container .couple-elements .select-elements {
  width: 60%;
  margin: 10px;
  background-color: transparent;
  color: #0064cf;
}

.flex-vertical .form-container .couple-elements .select-elements option {
  background-color: #ffffff;
  font-weight: 600;
}

.flex-vertical .form-container .btn-custom {
  margin: 10px;
}

.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.certificate {
  text-align: center;
}

.certificate-image {
  width: 320px;
  height: 240px;
  padding: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.certificate-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page-redirect {
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
}

.page-redirect a {
  text-decoration: none;
  color: #0064cf;
}

.page-redirect a:hover {
  background-color: #0064cf;
  color: white;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */